<div class="rightMenu" id="cell-menu">
    <div class="rightMenuBlock1">Cell settings</div>
    <form>
        <div class="rightMenuBlock2">

            <div class="rightMenuItem">


                <span class="blue"><i class="fas fa-font" style="margin-right:1em;"></i> Name</span>
                <div class="form-group" style="padding-top:0.6em;">
                    <input type="text" class="form-control" id="name"
                           style="border:none; border-bottom:1px solid gray; height:2em;"
                           placeholder="Enter the name">
                </div>


            </div>

            <div class="rightMenuItem">

                <span class="blue"><i class="fas fa-palette" style="margin-right:1em;"></i> Color</span>
                <div class="form-group" style="padding-top:0.6em;">
                    <select class="form-control" id="colorsSelect" style="">
                        <optgroup label="Main colors">
                            {% for color in colors %}
                                <option id="color_{{ color.id }}" data-color="{{ color.hex }}">
                                    {{ color.name }} </option>
                            {% endfor %}
                        </optgroup>
                        {% if custom_colors %}
                            <optgroup label="Custom colors">
                                {% for color in custom_colors %}
                                    <option id="color_{{ color.id }}" data-color="{{ color.hex }}">
                                        {{ color.name }} </option>
                                {% endfor %}
                            </optgroup>
                        {% endif %}
                    </select>
                </div>

            </div>

            <div class="rightMenuItem">


                <span class="blue"><i class="fas fa-list-ol" style="margin-right:1em;"></i> Priority</span>
                <div class="form-group" style="padding-top:0.6em;">
                    <input type="number" class="form-control" id="priority"
                           style="border:none; border-bottom:1px solid gray; height:2em;"
                           placeholder="Enter priority">
                </div>


            </div>


        </div>
    </form>
</div>