<div class="main" id="main" style="width:80%;">
    <div class="mainBlock1" style="height:100%">
        <h1>{{ plan_type }} <i class="fas fa-plus-circle"></i></h1>

        {# TODO add colors #}
        {% for plan in object_list %}
            <div class="card-block-container">
                <div class="card-block-header"><h5>{{ plan.name }} (v. {{ plan.version }})</h5></div>
                <a href="{{ plan.get_absolute_url }}">
                    <div class="card-block"></div>
                </a>
            </div>
        {% endfor %}

    </div>
</div>