<div class="main shadow" id="main">
    <div class="mainBlock1">
        <h1 class="font-weight-bold p-2">{{ plan_type }} </h1>
        <hr/>
        {#<i class="fas fa-plus-circle"></i>#}

{#        <div class="card-block-container ">#}
{#            <div class="card-block-header">#}
{#                <h5>Create plan <i class="fas fa-plus-circle"></i></h5>#}
{#            </div>#}
{#            <a href="">#}
{#                <div class="card-block card-block-create shadow-sm border border-primary">#}
{#                </div>#}
{#            </a>#}
{#        </div>#}

        {# TODO add colors #}
        {% for plan in object_list %}
            <div class="card-block-container">
                <div class="card-block-header">
                    <h5>{{ plan.name }} (v. {{ plan.version }})</h5>
                </div>
                <a href="{{ plan.get_absolute_url }}">
                    <div class="card-block shadow-sm border border-secondary">

                    </div>
                </a>
            </div>
        {% endfor %}

    </div>
</div>