body {
    margin: 0;
    padding: 0;
    background: white;
    font-family: sans-serif;
}


#container {
    width: 100%;
    height: 100%;
    display: flex;
}

.leftMenu {
    width: 14%;
    height: 100%;
    display: inline-block;
    border-right: 1px solid #E5E5E5;
    padding-top: 2em;
}

.leftMenuBlock1 {
    height: auto;
    border-bottom: 1px solid #E5E5E5;
    padding-left: 1em;
}

.leftMenuBlock1 img {
    height: 3em;
    width: 3em;
    border-radius: 50%;
}


.leftMenuBlock2 {
    border-bottom: 1px solid #E5E5E5;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: 0.6em;
}

.leftMenuItem {
    margin-right: 1em;
    width: 100% auto;
    height: 3em;
    line-height: 3em;
    padding-left: 1em;
    border-radius: 4px;
    margin-bottom: 0.4em;
}

.selected {
    background: #E3F2FD;
    color: #2196F3;
}

.leftMenuBlock3 {
    padding-top: 1em;
    padding-left: 1em;
}

.leftMenu h1 {
    font-size: 1.5em;
}

.rightMenu {
    width: 17%;
    height: 100%;
    display: inline-block;
    border-left: 1px solid #E5E5E5;
}

.rightMenuBlock1 {
    width: 100% auto;
    padding-left: 1.5em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 1.3em;
    border-bottom: 1px solid #E5E5E5;
}

.rightMenuBlock2 {
    width: 100% auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    height: auto;
}

.rightMenuItem {
    margin-bottom: 2em;
    line-height: 1em;
}


.dropdown-item {
    height: 3em;
    line-height: 3em;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background: #dbdadc;
}

.dropdown-item a {

}

.color {
    width: 2em;
    height: 2em;
    display: inline-block;
    margin-right: 1em;
}

.color-red {
    background: #FF7675;
}

.color-red:hover {
    background: #ff5b5a;
}

.color-blue {
    background: #E3F2FD;
}

.color-yellow {
    background: #FFEAA7;
}

.color-green {
    background: #55EFC4;
}


.blue {
    color: #2196F3
}

.main {
    width: 69%;
    height: 100%;
    display: inline-block;
}

.mainBlock1 {
    width: 100%;
    height: 20%;
    padding-left: 6em;
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    overflow: auto;
    align-items: flex-end;
    position: relative;
}

.mainBlock1 p {
    line-height: 1em;
}

.mainBlock2 {
    overflow: auto;
    height: 53%;
    background: #f6f7fa;
    margin-left: 6em;
    margin-right: 6em;
    display: block;
    align-items: center;
}

.mainBlock2 td {
    padding-left: 3em;
    padding-right: 3em;
    z-index: 101;
}

.mainBlock2 tr {
    z-index: 101;
}


.vertex {
    width: 200px;
    height: 75px;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 2em;
    line-height: 75px;
    text-align: center;
    box-shadow: 5px 4px 9px 0px #dbdadc;
    z-index: 101;
}


.mainBlock3 {
    width: 100% auto;
    height: 12%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 5%;
    padding: 0;
    position: relative;
    text-align: right;
}


.btn-big {
    height: 5em;
}

.card-block-container {
    height: 10em;
    width: 14em;
    margin-right: 1.5em;
    margin-bottom: 1em;
    display: inline-block;
}

.card-block {
    width: 14em;
    height: 8em;
    box-shadow: 8px 7px 11px 0px #cecece;
    border: 1px solid #e1e1e1;
    position: relative;
    display: block;
    border-radius: 4px;
}

.card-block-header {
    color: gray;
    font-size: 0.8em;
    text-align: left;
    height: 2em;
}

.card-block p {
    text-align: center;
    line-height: 8em;
    font-size: 1em;

}
