{% extends 'core/base.html' %}

{% block title %}
    {{ plan.name }}
{% endblock %}

{% block container %}
    <div class="main shadow" id="main" style="width: 65%">
        <div class="main-navigation">
            <h1 class="" id="plan-name" data-id="{{ plan.id }}">{{ plan.name }}</h1>
            {% if plan.description %}
                <p>Description: {{ plan.description }}</p>
            {% endif %}
            <p class="ml-2">Version: {{ plan.version }}</p>
            <hr/>
        </div>

    </div>

    {% include 'table/includes/right_navigation_menu.html' %}

{% endblock %}
